header{
    background-color: rgb(254, 185, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .div-header{
    margin: 15px 20px;
}

/* From Uiverse.io by vinodjangid07 */
.botton-admin-salir {
display: flex;
align-items: center;
justify-content: flex-start;
width: 45px;
height: 45px;
border: none;
border-radius: 50%;
cursor: pointer;
position: relative;
overflow: hidden;
transition-duration: .3s;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
background-color: rgb(255, 65, 65);
padding: 0;
}

/* plus sign */
.botton-admin-salir-icon-sign {
width: 45px;
transition-duration: .3s;
display: flex;
align-items: center;
justify-content: center;
}

.botton-admin-salir-icon-sign svg {
width: 17px;
}

.botton-admin-salir-icon-sign svg path {
fill: white;
}
/* text */
.botton-admin-salir-text {
position: absolute;
right: 0%;
width: 0%;
opacity: 0;
color: white;
font-size: 1.2em;
font-weight: 600;
transition-duration: .3s;
}
/* hover effect on button width */
.botton-admin-salir:hover {
width: 125px;
border-radius: 40px;
transition-duration: .3s;
}

.botton-admin-salir:hover .botton-admin-salir-icon-sign {
width: 30%;
transition-duration: .3s;
padding-left: 20px;
}
/* hover effect button's text */
.botton-admin-salir:hover .botton-admin-salir-text {
opacity: 1;
width: 70%;
transition-duration: .3s;
padding-right: 10px;
}
/* button click effect*/
.botton-admin-salir:active {
transform: translate(2px ,2px);
}